<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="assets/css/mystyle.css">
    <script src="assets/js/ace-extra.min.js"></script>
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Ace Admin
                    </small>
                </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                Jason
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul
                            class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
                            Tòa nhà
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Danh sách tòa nhà
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                    data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {}
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch (e) {}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Tòa nhà</li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            Tòa nhà
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                danh sách tòa nhà
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">Tìm kiếm</h4>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="name">Tên tòa nhà</label>
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="buildingArea">Diện tích sàn</label>
                                            <input type="number" class="form-control" id="buildingArea" />
                                        </div>
                                        <br>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Quận hiện có</label>
                                            <select name="" id="" style="display: block; width: 80%;">
                                                <option value="">--Chọn quận--</option>
                                                <option value="">b</option>
                                                <option value="">c</option>
                                                <option value="">d</option>
                                                <option value="">e</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Phường</label>
                                            <input type="text" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Đường</label>
                                            <input type="text" class="form-control" id="" />
                                        </div>
                                        <br>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Số tầng hầm</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Hướng</label>
                                            <input type="text" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Hạng</label>
                                            <input type="text" class="form-control" id="" />
                                        </div>
                                        <br>
                                        <div class="col-sm-3 col-xs- margin-top">
                                            <label for="name">Diện tích từ</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-3 col-xs-6 margin-top">
                                            <label for="name">Diện tích đến</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-3 col-xs-6 margin-top">
                                            <label for="name">Giá thuê từ</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-3 col-xs-6 margin-top">
                                            <label for="name">Giá thuê đến</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <br />
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Tên quản lý</label>
                                            <input type="text" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Điện thoại quản lý</label>
                                            <input type="number" class="form-control" id="" />
                                        </div>
                                        <div class="col-sm-4 col-xs-6 margin-top">
                                            <label for="name">Quận hiện có</label>
                                            <select name="" id="" style="display: block; width: 80%;">
                                                <option value="">--Chọn huyện--</option>
                                                <option value="">b</option>
                                                <option value="">c</option>
                                                <option value="">d</option>
                                                <option value="">e</option>
                                            </select>
                                        </div>
                                        <form class="col-sm-6 margin-top">
                                            <label class="checkbox-inline ">
                                                <input type="checkbox" value=""> <b>Tầng trệt</b>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value=""> <b> Nguyên căn</b>
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value=""> <b>Nội thất</b>
                                            </label>
                                        </form>
                                        <div class="col-sm-12 margin-top">
                                            <button type="button" class="btn btn-success"> Tìm Kiếm</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn-success" title="thêm tòa nhà">
                                <i class="ace-icon fa fa-cloud-upload "></i>
                            </button>
                            <button class="btn-danger" title="xóa tòa nhà" id="btnDeleteBuilding">
                                <i class="ace-icon fa fa-trash-o "></i>
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class=" margin-top ">
                            <table class="table table-striped table-bordered table-hover" id="buildingList">
                                <thead>
                                    <tr>
                                        <th>checkbox</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Địa chỉ</th>
                                        <th class="hidden-480">Tên quản lý</th>

                                        <th>Số điện thoại</th>
                                        <th class="hidden-480">Diện tích sàn</th>
                                        <th>Giá thuê</th>
                                        <th>Phí dich vụ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" value="1" id="checkbox_1"></td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>
                                            <button class="btn-danger" title="giao tòa nhà"
                                                onclick="assignmentBuildingModal(1)">
                                                <i class="ace-icon fa fa-pencil-square-o "></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" value="2" id="checkbox_2"></td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>abc</td>
                                        <td>
                                            <button class="btn-danger" title="giao tòa nhà"
                                                onclick="assignmentBuildingModal()">
                                                <i class="ace-icon fa fa-pencil-square-o "></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="assignmentbuilding" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Giao tòa nhà cho nhân viên</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-bordered table-hover" id="staffList">
                                        <thead>
                                            <tr>
                                                <th>Chọn nhân viên</th>
                                                <th>Tên nhân viên</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><label class="checkbox-inline ">
                                                        <input type="checkbox" value="2" class="no-margin-top" id="checkbox_2">
                                                    </label></td>
                                                <td class="margin-top">
                                                    Nguyễn văn A
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label class="checkbox-inline ">
                                                        <input type="checkbox" value="3" class="no-margin-top" id="checkbox_3">
                                                    </label></td>
                                                <td class="margin-top">
                                                    Nguyễn văn B
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" value="" id="buildingId" name="buildingId" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="btnAssignBuilding">Giao Tòa
                                        Nhà</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="footer-inner">
                            <div class="footer-content">
                                <span class="bigger-120">
                                    <span class="blue bolder">Ace</span>
                                    Application &copy; 2013-2014
                                </span>

                                &nbsp; &nbsp;
                                <span class="action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                    </a>
                </div><!-- /.main-container -->

                <!-- basic scripts -->

                <!--[if !IE]> -->
                <script src="assets/js/jquery.2.1.1.min.js"></script>

                <!-- <![endif]-->

                <!--[if IE]>
<script src="assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->

                <!--[if !IE]> -->
                <script type="text/javascript">
                    window.jQuery || document.write("<script src='assets/js/jquery.min.js'>" + "<" + "/script>");
                </script>

                <!-- <![endif]-->

                <script>
                    function assignmentBuildingModal(buildingId) {
                        openModelAssignmentBuilding();
                        $('#buildingId').val(buildingId);
                    }

                    function openModelAssignmentBuilding() {
                        $('#assignmentbuilding').modal();
                    }

                    $('#btnAssignBuilding').click(function (e) { 
                        e.preventDefault();
                        var data = {};
                        data['buildingId'] = $('#buildingId').val();
                        var staffs = $('#staffList').find('tbody input[type=checkbox]:checked').map( function () {
                            return $(this).val();
                        }).get();
                        data['staffs'] = staffs;
                        assignStaff(data);
                    });

                    function assignStaff(data) {
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8081/manager-building",
                            data: JSON.stringify(data),
                            dataType: "json",
                            contentType : "application/json",
                            success: function (response) {
                                console.log('success');
                            },
                            console: function(response){
                                console.log('success');
                                console.log(response);
                            }
                        });
                    };

                  $('#btnDeleteBuilding').click(function (e) { 
                      e.preventDefault();
                      var data = {};
                        var buildings = $('#buildingList').find('tbody input[type=checkbox]:checked').map( function () {
                            return $(this).val();
                        }).get();
                        data['buildings'] = buildings;
                        deleteBuildings(data);
                  });

                  function deleteBuildings(data) {
                        $.ajax({
                            type: "DELETE",
                            url: "http://localhost:8081/delete-building",
                            data: JSON.stringify(data),
                            dataType: "json",
                            contentType : "application/json",
                            success: function (response) {
                                console.log('success');
                            },
                            console: function(response){
                                console.log('success');
                                console.log(response);
                            }
                        });
                    };
                    
                </script>
                <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
                <script type="text/javascript">
                    if ('ontouchstart' in document.documentElement) document.write(
                        "<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
                </script>
                <script src="assets/js/bootstrap.min.js"></script>

                <!-- page specific plugin scripts -->

                <!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->
                <script src="assets/js/jquery-ui.custom.min.js"></script>
                <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
                <script src="assets/js/jquery.easypiechart.min.js"></script>
                <script src="assets/js/jquery.sparkline.min.js"></script>
                <script src="assets/js/jquery.flot.min.js"></script>
                <script src="assets/js/jquery.flot.pie.min.js"></script>
                <script src="assets/js/jquery.flot.resize.min.js"></script>

                <!-- ace scripts -->
                <script src="assets/js/ace-elements.min.js"></script>
                <script src="assets/js/ace.min.js"></script>

                <!-- inline scripts related to this page -->
                <script type="text/javascript">
                    jQuery(function ($) {
                        $('.easy-pie-chart.percentage').each(function () {
                            var $box = $(this).closest('.infobox');
                            var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ?
                                $box.css('color') : 'rgba(255,255,255,0.95)');
                            var trackColor = barColor == 'rgba(255,255,255,0.95)' ?
                                'rgba(255,255,255,0.25)' : '#E2E2E2';
                            var size = parseInt($(this).data('size')) || 50;
                            $(this).easyPieChart({
                                barColor: barColor,
                                trackColor: trackColor,
                                scaleColor: false,
                                lineCap: 'butt',
                                lineWidth: parseInt(size / 10),
                                animate: /msie\s*(8|7|6)/.test(navigator.userAgent
                                    .toLowerCase()) ? false : 1000,
                                size: size
                            });
                        })

                        $('.sparkline').each(function () {
                            var $box = $(this).closest('.infobox');
                            var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                            $(this).sparkline('html', {
                                tagValuesAttribute: 'data-values',
                                type: 'bar',
                                barColor: barColor,
                                chartRangeMin: $(this).data('min') || 0
                            });
                        });
                        placeholder.on('plothover', function (event, pos, item) {
                            if (item) {
                                if (previousPoint != item.seriesIndex) {
                                    previousPoint = item.seriesIndex;
                                    var tip = item.series['label'] + " : " + item.series['percent'] +
                                        '%';
                                    $tooltip.show().children(0).text(tip);
                                }
                                $tooltip.css({
                                    top: pos.pageY + 10,
                                    left: pos.pageX + 10
                                });
                            } else {
                                $tooltip.hide();
                                previousPoint = null;
                            }

                        });
                        var sales_charts = $('#sales-charts').css({
                            'width': '100%',
                            'height': '220px'
                        });

                        $('#recent-box [data-rel="tooltip"]').tooltip({
                            placement: tooltip_placement
                        });
                        $('.dialogs,.comments').ace_scroll({
                            size: 300
                        });
                        //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
                        //so disable dragging when clicking on label

                        //show the dropdowns on top or bottom depending on window height and menu position
                        $('#task-tab .dropdown-hover').on('mouseenter', function (e) {
                            var offset = $(this).offset();

                            var $w = $(window)
                            if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
                                $(this).addClass('dropup');
                            else $(this).removeClass('dropup');
                        });

                    })
                </script>
</body>

</html>