<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="assets/css/mystyle.css">

    <!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->

    <!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Ace Admin
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                Jason
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul
                            class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
                            Tòa nhà
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Danh sách tòa nhà
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                    data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {}
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch (e) {}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Tòa nhà</li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            Tòa nhà
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                Thay đổi thông tin tòa nhà
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <form class="form-horizontal" role="form" id="formEdit">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for=""> Tên tòa nhà </label>

                                <div class="col-sm-9">
                                    <input type="text" id="name" class="col-xs-10 col-sm-10" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for=""> Sô tầng hầm </label>

                                <div class="col-sm-9">
                                    <input type="text" id="street" class="col-xs-10 col-sm-10" name="street">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for=""> Quận </label>
                                <div class="col-sm-9">
                                    <select name="" id="" style="display: block; width: 80%;">
                                        <option value="">--Chọn quận--</option>
                                        <option value="">Quận 1</option>
                                        <option value="">Quận 2</option>
                                        <option value="">Quận 3</option>
                                        <option value="">Quận 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="">Kết cấu </label>
                                <div class="col-sm-9">
                                    <input type="text" id="structure" class="col-xs-10 col-sm-10" name="structure">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="">Số tầng hầm  </label>
                                <div class="col-sm-9">
                                    <input type="number" id="numberOfBasement" class="col-xs-10 col-sm-10" name="numberOfBasement">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for=""> Diện tích sàn </label>
                                <div class="col-sm-9">
                                    <input type="number" id="floorArea" class="col-xs-10 col-sm-10" name="floorArea">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Hướng</label>
                                <div class="col-sm-9">
                                    <input type="text" id="direction" class="col-xs-10 col-sm-10" name="direction">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Hạng</label>
                                <div class="col-sm-9">
                                    <input type="text" id="level" class="col-xs-10 col-sm-10" name="level">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Giá thuê</label>
                                <div class="col-sm-9">
                                    <input type="number" id="rentPrice" class="col-xs-10 col-sm-10" name="rentPrice">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Chi tiết giá thuê</label>
                                <div class="col-sm-9">
                                    <input type="text" id="rentPriceDescription" class="col-xs-10 col-sm-10" name="rentPriceDescription">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Phí dịch vụ</label>
                                <div class="col-sm-9">
                                    <input type="text" id="serviceFee" class="col-xs-10 col-sm-10" name="serviceFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Phí ô tô</label>
                                <div class="col-sm-9">
                                    <input type="text" id="carFee" class="col-xs-10 col-sm-10" name="carFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Phí xe máy</label>
                                <div class="col-sm-9">
                                    <input type="text" id="motoFee" class="col-xs-10 col-sm-10" name="motoFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Phí ngoài giờ</label>
                                <div class="col-sm-9">
                                    <input type="text" id="overtimeFee" class="col-xs-10 col-sm-10" name="overtimeFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Tiền nước</label>
                                <div class="col-sm-9">
                                    <input type="text" id="waterFee" class="col-xs-10 col-sm-10" name="waterFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Tiền điện</label>
                                <div class="col-sm-9">
                                    <input type="text" id="electricityFee" class="col-xs-10 col-sm-10" name="electricityFee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Tiền đặt cọc</label>
                                <div class="col-sm-9">
                                    <input type="text" id="deposit" class="col-xs-10 col-sm-10" name="deposit">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Thanh toán</label>
                                <div class="col-sm-9">
                                    <input type="text" id="payment" class="col-xs-10 col-sm-10" name="payment">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Thời gian thuê</label>
                                <div class="col-sm-9">
                                    <input type="text" id="rentTime" class="col-xs-10 col-sm-10" name="rentTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Thời gian trang trí</label>
                                <div class="col-sm-9">
                                    <input type="text" id="decorationTime" class="col-xs-10 col-sm-10" name="decorationTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Người môi giới</label>
                                <div class="col-sm-9">
                                    <input type="number" id="brokeragetee" class="col-xs-10 col-sm-10" name="brokeragetee">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Ghi chú</label>
                                <div class="col-sm-9">
                                    <input type="text" id="note" class="col-xs-10 col-sm-10" name="note">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="rentAreas"> Diện tích thuê</label>
                                <div class="col-sm-9">
                                    <input type="text" id="rentArea" class="col-xs-10 col-sm-10" name="rentArea">
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="buildingTypes"> Loại tòa nhà </label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline ">
                                        <input type="checkbox" id="buildingTypes" value="TANG_TRET" name="buildingTypes"> <b>Tầng trệt</b>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="buildingTypes" value="NGUYEN_CAN" name="buildingTypes"> <b> Nguyên căn</b>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="buildingTypes" value="NOI_THAT" name="buildingTypes"> <b>Nội thất</b>
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-9 pull-right">
                                    <button type="button" class="btn btn-success" id="btnAddBuilding"> Thêm tòa nhà</button>
                                    <button type="button" class="btn btn-success"> Hủy</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="footer">    
                        <div class="footer-inner">
                            <div class="footer-content">
                                <span class="bigger-120">
                                    <span class="blue bolder">Ace</span>
                                    Application &copy; 2013-2014
                                </span>

                                &nbsp; &nbsp;
                                <span class="action-buttons">
                                    <a href="#">
                                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                                    </a>

                                    <a href="#">
                                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                    </a>
                </div><!-- /.main-container -->
                <script src="assets/js/jquery.2.1.1.min.js"></script>
                <script type="text/javascript">
                    window.jQuery || document.write("<script src='assets/js/jquery.min.js'>" + "<" + "/script>");
                </script>

                <!-- call api add building -->
                <script>
                    $('#btnAddBuilding').click(function(){
                        var data = {};
                        var fromData = $('#formEdit').serializeArray();
                        var buildingTypes = [];
                        $.each(fromData, function (index, values) { 
                             if (values.name === 'buildingTypes') {
                                buildingTypes.push(values.value);
                             } else {
                                 data['' +values.name+ ''] = values.value;
                             }
                        });
                        data['buildingType'] = buildingTypes;
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8081/buildings",
                            data: JSON.stringify(data),
                            dataType: "json",
                            contentType : "application/json",
                            success: function (response) {
                                console.log('success');
                            },
                            console: function(response){
                                console.log('success');
                                console.log(response);
                            }
                        });
                    });

                </script>
                <script src="assets/js/bootstrap.min.js"></script>
                <script src="assets/js/jquery-ui.custom.min.js"></script>
                <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
                <script src="assets/js/jquery.easypiechart.min.js"></script>
                <script src="assets/js/jquery.sparkline.min.js"></script>
                <script src="assets/js/jquery.flot.min.js"></script>
                <script src="assets/js/jquery.flot.pie.min.js"></script>
                <script src="assets/js/jquery.flot.resize.min.js"></script>

                <!-- ace scripts -->
                <script src="assets/js/ace-elements.min.js"></script>
                <script src="assets/js/ace.min.js"></script>

                <!-- inline scripts related to this page -->
                <script type="text/javascript">
                    jQuery(function ($) {
                        $('#task-tab .dropdown-hover').on('mouseenter', function (e) {
                            var offset = $(this).offset();

                            var $w = $(window)
                            if (offset.top > $w.scrollTop() + $w.innerHeight() - 100)
                                $(this).addClass('dropup');
                            else $(this).removeClass('dropup');
                        });

                    })
                </script>
</body>

</html>